@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #191927;
}
.wrapper {
  display: inline-flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  line-height: 95px;
  font-weight: 600;
}
.dynamic-txt li {
  color: #6abdb3;
  list-style: none;
  font-size: 60px;
  font-weight: 500;

  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
  background: #191927;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.wrapper .dynamic-txt {
  margin-left: 15px;

  height: 92px;
  line-height: 92px;

  overflow: hidden;
}
.dynamic-txt li span {
  position: relative;
}
.dynamic-txt li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #6abdb3;
  animation: typing 2s steps(12) infinite;
  background: #191927;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}